<!DOCTYPE html>
<html>
<head>
    <title>Airport Lounge Inventory Login</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="login-container">

    <!-- LOGIN CARD -->
    <div class="login-card">

        <h2>Airport Lounge Inventory</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <!-- EMAIL INPUT -->
            <input type="email" name="email" placeholder="Enter email for alerts (optional)">

            <button type="submit">Login</button>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <label class="toggle">
                 <input type="checkbox" name="alerts">
                    Receive Low Stock Alerts
            </label>
        </form>

    </div>

    <!-- DEMO CARD -->
    <div class="demo-card">

        <h3>Demo Access</h3>

        <div class="cred-box">
            <b>Admin Login</b><br>
            Username: admin<br>
            Password: admin123
        </div>

        <div class="cred-box">
            <b>Staff Login</b><br>
            Username: staff<br>
            Password: staff123
        </div>

    </div>

</div>

</body>
</html>